.titre{
    font-family: "architects daughter" , sans-serif;
    margin-top: 1rem;
    font-size: 5rem;
}

body{
    background-image: linear-gradient(50deg, #77FFD2 0%, #6297DB 48%, #1EECFF 100%);

    background-attachment: fixed;
    /* background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); */
}

.textAffich{
    margin-top: 80rem;
    text-align: center;
    font-family :"architects daughter" , sans-serif;
    font-size: 1.5rem;
    padding: 5rem; 
    height: 10rem;
    background: hsla(0, 100%, 98%, 0.171) !important;
    box-shadow: 0 58px 52px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 10px;
    
}
.player{
    /* margin-left: 2em; */
    font-family: "architects daughter" , sans-serif;
}
.both{
    font-family: "architects daughter" , sans-serif;
    
}

.image{
    margin-inline: 2rem;
    margin-top: 1rem;
    height: 5rem;
}

#btn1, #btn2, #btn3 {
    cursor: pointer;
}
@media screen and (max-width: 576px) {
    
    .titre{
        font-size: 2em;
    }
    .textAffich{
        margin-top :30rem ;
        font-size: 1rem;
        box-shadow: none;
        background: none;

    }
    .image {
        margin-top: 2em;
        padding-top: 2.5em;
        


    }
    #btn1, #btn2, #btn3 {
        height: 5rem;
        width: 5rem;
        cursor: pointer;
    } 
 }

